{% extends 'flatpages/default.html' %}
{% block content %}
    <h1 class="text-center mb-4">Добро пожаловать на NewsPortal</h1>

    {#    <div class="text-center mb-3">#}
    {#        <a href="{% url 'login' %}" class="btn btn-outline-primary mx-1">Войти</a>#}
    {#        <a href="{% url 'signup' %}" class="btn btn-outline-primary mx-1">Регистрация</a>#}
    {#        <a href="/news/" class="btn btn-outline-primary mx-1">Новости</a>#}
    {#        <a href="/news/search/" class="btn btn-outline-primary mx-1">Поиск</a>#}
    {#        <a href="/news/create/" class="btn btn-outline-primary mx-1">Создать публикацию</a>#}
    {#    </div>#}

{% endblock %}


